/OfferCruzBL/nbproject/private/
/OfferCruzEntidades/nbproject/private/
/OfferCruzDAO/nbproject/private/
/OffercruzBackOfficeWeb/nbproject/private/
/OfferCruzDAO/build/
/OfferCruzBL/build/
/OfferCruzEntidades/build/
/OfferCruzEntidades/dist/
/OfferCruzDAO/dist/
/OfferCruzBL/dist/
/OffercruzBackOfficeWeb/build/
/OffercruzBackOfficeWeb/dist/